{% extends 'fund_base_page.html' %}

{% block title %} 净值跟踪 {% endblock %}

{% block body %}

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>持有基金净值跟踪</h3>
		</div>
		<div class="panel-body">
			<div class="pull-right">
				<div class="btn-group">
					<a href="{% url 'funds:do_confirm_shares' %}" class="btn btn-default">
						<i class="fa fa-refresh fa-lg fa-fw" aria-hidden="true"></i>
						确认份额
					</a>
					<a href="{% url 'funds:hold_on_funds' %}" class="btn btn-default">
						<i class="fa fa-list-ol fa-lg fa-fw" aria-hidden="true"></i>
						净值列表
					</a> 	
				</div>		
			</div>
		</div>
		
	{% if hold_on_funds %}
		<table class="table" align="center">
			<tr>
				<th>基金</th>
				<th>投入金额</th>
				<th>持有份额</th>
				<th>持有金额</th>
				<th>更新时间</th>
				<th>最新净值</th>
				<th>估算净值</th>
				<th>投入单价</th>
				<th>收益</th>
				<th>收益率</th>
			</tr>
	    {% for fnd in hold_on_funds %}
	    	<tr class="tr_hover">
				<td><a href="{% url 'funds:trade_history' fnd.id %}">{{ fnd.fund_name }}</a></td>
				<td>{{ fnd.invest_amount }}</td>
				<td>{{ fnd.hold_on_shares_count }}</td>
				<td>{{ fnd.hold_on_amount_count }}</td>
				<td>{{ fnd.latest_date|date:'Y-m-d' }}</td>
				<td data-pricelimit="{{ fnd.latest_price_limit }}">{{ fnd.latest_netprice }}</td>
				<td 
				{% if fnd.fund_code != '501018' and fnd.fund_code != '000930' %}
				name="estimatedPrice" data-fundcode="{{fnd.fund_code}}" data-url="{% url 'funds:estimated_price' fnd.fund_code %}"
				{% endif %}></td>
				<td>{{ fnd.hold_on_unit_price }}</td>
				<td>{{ fnd.benefits }}</td>
				<td data-rate="{{fnd.benefit_rate }}">{{ fnd.benefit_rate }}%</td>
			</tr>        
	    {% endfor %}
		</table>    

	{% else %}
	    <p>No funds are available.</p>
	{% endif %}

	</div>



{% endblock %}


{% block js %}
	<script type="text/javascript">

	function benefitColor(){
		$(".tr_hover td[data-rate]").each(function(){
			var context = $(this).context;
			var td = $(context);
			var tr = td.parent();
			var rate = Number(td.attr("data-rate"));			
			var rowStatus = ""

			if ( 3.0 <= rate) {
				rowStatus = "success";					
			} else if (rate <= -10.0) {
				rowStatus = "danger";
			} else if (rate <= -3.0) {
				rowStatus = "warning";
			} else if (rate > 0) {
				rowStatus = "info";
			}

			if (rowStatus !== "") {
				$(tr).addClass(rowStatus);
			}

		});	

		$(".tr_hover td[data-pricelimit]").each(function(){
			var td = $($(this).context);
			pricelimit = td.attr("data-pricelimit");			
			var isSign = pricelimit.charAt(0) == "-";

			if (isSign) {
				td.append( ' (' + pricelimit + ')<i class="text-success fa fa-long-arrow-down fa-fw"></i>');
			} else if(pricelimit != '0') {
				td.append( ' (' + pricelimit + ')<i class="text-danger fa fa-long-arrow-up fa-fw"></i>');
			}
		});
	}

	function fetch_estimated_price(){
		$("td[name='estimatedPrice']").each(function(){

			var node = $(this).context;
			var fundCode = $(node).attr("data-fundcode");
			var url = $(node).attr("data-url");
			$.ajax({
				url:url, 
				type: 'get',
				data:{fund_code: fundCode}, 
				success: function(result){
					if(result.gsz != undefined){
						$(node).html(result.gsz);
					}
					// console.log(result);
				}
			});
		})
	}	

	// 每隔 60秒 刷新估算净值
	setInterval(fetch_estimated_price, 1000*60)
	

	$(document).ready(function(){
		benefitColor();
		fetch_estimated_price();
	})
	</script>

{% endblock %}