{% extends 'fund_base_page.html' %}

{% block title %} 净值跟踪 {% endblock %}

{% block body %}

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>持有基金净值跟踪</h3>
		</div>
		<div class="panel-body">
			<div class="pull-right">
				<a href="{% url 'funds:do_confirm_shares' %}" class="btn btn-default">
					<i class="fa fa-cloud-download fa-lg fa-fw" aria-hidden="true"></i>
					刷新收益
				</a>
				<a href="{% url 'funds:hold_on_funds' %}" class="btn btn-default">
					查看净值列表
					<i class="fa fa-chevron-right fa-lg fa-fw" aria-hidden="true"></i>
				</a> 	
			</div>		
		</div>
		
	{% if hold_on_funds %}
		<table class="table" align="center">
			<tr>
				<th>基金</th>
				<th>投入金额</th>
				<th>持有份额</th>
				<th>持有金额</th>
				<th>最新净值</th>
				<th>持有单价</th>
				<th>收益</th>
				<th>收益率</th>
			</tr>
	    {% for fnd in hold_on_funds %}
	    	<tr class="tr_hover">
				<td><a href="{% url 'funds:trade_history' fnd.id %}">{{ fnd.fund_name }}</a></td>
				<td>{{ fnd.invest_amount }}</td>
				<td>{{ fnd.hold_on_shares_count }}</td>
				<td>{{ fnd.hold_on_amount_count }}</td>
				<td>{{ fnd.latest_netprice }} ({{ fnd.latest_date|date:'m-d-Y' }})</td>
				<td>{{ fnd.hold_on_unit_price }}</td>
				<td>{{ fnd.benefits }}</td>
				<td data-rate="{{fnd.benefit_rate }}">{{ fnd.benefit_rate }}%</td>
			</tr>        
	    {% endfor %}
		</table>    

	{% else %}
	    <p>No funds are available.</p>
	{% endif %}

	</div>



{% endblock %}


{% block js %}
	<script type="text/javascript">
		$(document).ready(function(){
			
			$(".tr_hover td[data-rate]").each(function(){
				var context = $(this).context;
				var td = $(context);
				var tr = context.parentElement;
				var rate = Number(td.attr("data-rate"));
				
				var rowStatus = ""

				if ( 3.0 <= rate) {
					rowStatus = "success";					
				} else if (rate <= -10.0) {
					rowStatus = "danger";
				} else if (rate <= -3.0) {
					rowStatus = "warning";
				}

				if (rowStatus !== "") {
					$(tr).addClass(rowStatus);
				}

			});

		})
	</script>

{% endblock %}